body
{
    margin-left: 20%;
    margin-right: 20%;
    background: #FFFFFF; 
    background-size: 15%;
}
.header_div
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom:1%;
    text-align: center;
    color: #FFFFFF;
    background-color: #339900;
    box-shadow: 3px 3px 6px #888888;
}
.body_div
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom : 2%;
    color: #FFFFFF;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #339900;
    box-shadow: 3px 3px 6px #888888;
}

.img
{
    float: left;
    height: 13%;
    width: 13%;
    border: 1px solid #006600;
    margin-right: 3%;
    margin-bottom: 3%;
}

p.post
{
    display: block;
    background-color: #FFFFFF;
    color: #000000;
    margin-left: 15%;
    margin-right: 15%;
}

img.body 
{
    height: 50%;
    width: 50%; 
}
			
a:link.head, a:visited.head
{
    display: block;
    padding: 2%;
    font-size: 80%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #FFFFFF;
    background-color: #006600;
    border: 1px solid;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover.head, a:active.head
{background-color: #66CC33;}

a:link.body_link, a:visited.body_link
{
    display: block;
    padding: 2%;
    margin: 5%;
    color: #FFFFFF;
    color: black;
    background-color: #FFFFFF;
    border: 1px dashed;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover.body_link, a:active.body_link
{
    background-color: #66CC33;
}
h1
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 250%;
}
h2
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 150%;
}
h3
{  
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 125%;
    text-align: center;
    display: block;
    background-color: #006600;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border: 1px solid #FFFFFF;
    padding: 1%;
}
p
{
    font-family: Arial, Helvetica, sans-serif;
}

input.big
{
    font-size: 150%;
    padding: 5%;
}
.links
{
    float:left; width:25%;
    font-size: 110%;
}

.body_links
{
    float:left; width:33%;
    font-size: 110%;
}
p.credits
{
    font-size:60%;
    font-style: italic;
}

p.subtext
{
    display: block;
    padding: 2%;
    text-align: center;
    margin: 5%;
    font-style: italic;
    background-color: #006600;
    border: 1px solid white;
    max-height: 10%;
}